
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.p-hero{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: .8rem;
    letter-spacing: 1px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 2.4px;
    line-height: 50px;
    color: white;
}
h1 span{
    font-weight: 100;
}

.container{
    width: 100%;
    height: 105vh;
    position: relative;
    background-image: url(images/blue-hero-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/*   NAV BAR  */
.nav-bar{
    height: 100px;
    margin-top: -1px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}
.nav-menu{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: end;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: .7em;
    letter-spacing: 1px;

}
.nav-menu a{
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.nav-menu a:hover{
    opacity: .7;
}
#contact{
    border: solid 1px #FFBD0B;
    padding: 5px 8px;
    border-radius: 50px;
}
.logo{
    width: 60px;
    height: auto;
}
.burger div{
    width: 24px;
    height: 2px;
    border-radius: 50px;
    background-color: white;
    margin: 5px;
    transition: all 0.4s ease-out;
    z-index: 3;
}
.burger{
    display: none;
    cursor: pointer;
    
}



/* HERO */






















/* TABLET HORIZONTAL*/
@media only screen and (max-width: 990px) {
    .nav-bar{
        grid-template-columns: 1fr 3fr;
    }
   
  }




  













/*  TABLET VERTICAL*/  
  @media screen and (max-width: 768px) {
      .container{
        overflow: hidden;
      }
      .nav-bar{
          padding: 2rem;
      }
    .nav-menu{
        position: absolute;
        z-index: 10;
        right: 0;
        top: 110px;
        width: 200px;
        height: 80vh;
        padding: 120px 90px;
        background: rgb(0,212,255);
        background: linear-gradient(169deg, rgba(0,212,255,.3) 0%, rgba(151,101,226,1) 20%, rgba(2,12,100,.7) 100%); 
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        justify-content: space-around;
        text-align: center;
        border-radius: 10px 0 0 10px;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
    .nav-menu a{
        opacity: 0;
    }
    .burger{
        display: block;
        margin-left: auto;
    }
    .nav-active{
        transform: translateX(0px);
    }
    .nav-visible{
        opacity: 100%;
    }
    #contact{
        justify-self: center;
        width: 100px;
    }

    
  }



/*MOBILE*/
  @media screen and (max-width: 500px){
   
  }






/* ANIMATIO NAVBAR*/  
  @keyframes navLinksFade {
      from{
        opacity: 0;
        transform: translateX(50px);
      }
      to{
        opacity: 1;
        transform: translateX(0px);
      }
  }
  .cross .line1{
      transform: rotate(135deg) translate(6px, -4px);
  }
  .cross .line2{
    opacity: 0;
  }
  .cross .line3{
    transform: rotate(-135deg) translate(6px, 4px);
  }