
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.p-hero , .hero-btn, p{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: .8rem;
    letter-spacing: 1px;
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 2.4px;
    line-height: 50px;
    color: white;
}
h1 span{
    font-weight: 100;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: .1rem;
    font-weight: 600;
}

.container{
    margin-top: 0px;
    width: 100%;
    height: 120vh;
    position: relative;
    background-image: url(images/blue-hero-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

/*   NAV BAR  */
.nav-bar{
    height: 100px;
    margin-top: -1px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}
.nav-menu{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: end;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: .7em;
    letter-spacing: 1px;

}
.nav-menu a{
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.nav-menu a:hover{
    opacity: .7;
}
#contact{
    border: solid 1px #FFBD0B;
    padding: 5px 8px;
    border-radius: 50px;
}
.logo{
    width: 60px;
    height: auto;
}
.burger div{
    width: 24px;
    height: 2px;
    border-radius: 50px;
    background-color: white;
    margin: 5px;
    transition: all 0.4s ease-out;
    z-index: 3;
}
.burger{
    display: none;
    cursor: pointer;
    
}



/* HERO */

.hero{
    position: relative;
    display: grid;
    grid-template-columns:  1fr 5fr;
    width: 100%;
    height: 70vh;
    padding-left: 80px;
}
.hero-text{
    position: relative;
    overflow: visible;
    height: 70%;
}
.text-cont{
    display: grid;
    row-gap: 25px;
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    color: white;
}
.hero-btn{
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background-color: orangered;
    color: white;
}
.hero-img{
    width: 100%;
    margin-left: auto;
    margin-top: auto;
}
.hero-animation{
    width: 100%;
    
}

/* SECTION 2*/

.wrapper{
    width: 100%;
    height: auto;
    display: grid;
}
.top-text{
    text-align: center;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
}
.top-text h2 span{
    font-weight: 300;
}
.first-service{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.first-service-text{
    display: grid;
    height: 200px;
    padding: 20px 60px;
    justify-items: start;
    align-content: center;
    row-gap: 20px;
 
}
.first-service-text p{
    font-weight: 400;
}
.parallax-laptop{
    position: relative;
    height: 100%;
    display: grid;
    justify-items: right;
}
.parallax-laptop img{
    position: absolute;
}
#laptop{
    position: relative;
    width: 70%;
    z-index: 5;
}
#proce{
    width: 25%;
    right: 10px;
    top: 50px;
    z-index: 6;
}
#rect1{
    width: 10%;
    bottom: -10%;
    left: 150px;
}
#rect2{
    top: -20px;
    left: 100px;
    width: 7%;
    filter: blur(1px);
}#sq1{
    width: 10%;
    right: 30px;
    bottom: 20px;
    filter: blur(6px);
}#sq2{
    width: 20%;
    left: 20px;
    top: 200px;
}










/* TABLET HORIZONTAL*/
@media only screen and (max-width: 1024px) {
    .nav-bar{
        grid-template-columns: 1fr 3fr;
    }

    .hero{
        overflow-x: hidden;
        overflow-y: visible;
        grid-template-columns: 1fr;
        height: 80vh;
    }
    .text-cont{
        width: 40%;
        top: 160px;
    }
    .text-cont h1{
        font-size: 45px;
        line-height: 40px;
    }
    .hero-img{
        width: 100%;
        margin-right: -10%;
        margin-top: auto;
    }
    
   
  }






/*  TABLET VERTICAL*/  
  @media screen and (max-width: 768px) {
      .container{
        overflow: hidden;
      }
      .nav-bar{
          padding: 2rem;
      }
    .nav-menu{
        position: absolute;
        z-index: 10;
        right: 0;
        top: 110px;
        width: 200px;
        height: 80vh;
        padding: 120px 90px;
        background: rgb(0,212,255);
        background: linear-gradient(169deg, rgba(0,212,255,.3) 0%, rgba(151,101,226,1) 20%, rgba(2,12,100,.7) 100%); 
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        justify-content: space-around;
        text-align: center;
        border-radius: 10px 0 0 10px;
        transform: translateX(100%);
        transition: 0.5s ease-in;
    }
    .nav-menu a{
        opacity: 0;
    }
    .burger{
        display: block;
        margin-left: auto;
    }
    .nav-active{
        transform: translateX(0px);
    }
    .nav-visible{
        opacity: 100%;
    }
    #contact{
        justify-self: center;
        width: 100px;
    }


    .hero{
        padding-left: 40px;
        grid-template-rows: 1fr 5fr;
    }
    .text-cont{
        width: 80%;
    }
    .hero-img{
        width: 120%;
    }
    .hero-animation{
    
    }
    
  }



/*MOBILE*/
  @media screen and (max-width: 500px){
      .container{
          height: 120vh;
      }
    .hero{
        height: 100%;
        overflow: hidden;
    }
    .text-cont{
        top: 130px;
        row-gap: 20px;
        z-index: 3;
    }
    .text-cont h1{
        font-size: 35px;
        line-height: 30px;

    }
   .hero-animation{
       position: absolute;
       width: 600px;
       top:210px;
       right: -150px;
       z-index: 2;
   }
  
   

  }






/* ANIMATIO NAVBAR*/  
  @keyframes navLinksFade {
      from{
        opacity: 0;
        transform: translateX(50px);
      }
      to{
        opacity: 1;
        transform: translateX(0px);
      }
  }
  .cross .line1{
      transform: rotate(135deg) translate(6px, -4px);
  }
  .cross .line2{
    opacity: 0;
  }
  .cross .line3{
    transform: rotate(-135deg) translate(6px, 4px);
  }